.headLeft-section{
	width: calc(30% - 1px);
	/*width: 30%;*/
	border-right:1px solid #E6E6E6;
	display: inline-block;
}

.headRight-section{
	width: calc(69.9% - 1px);
	border-right:1px solid #E6E6E6;
	display: inline-block;
}

.headLeft-sub{
	padding: 15px;
	text-align: center;
}
.headLeft-section .headLeft-sub input{
	width: 60%;
	border-radius: 0px;
	border:1px solid #E6E6E6;
	padding: 7px;
}
.headLeft-section .headLeft-sub button{
	background: #009EF7;
	color: #fff;
	border:1px solid #E6E6E6;
	padding: 7px 15px;
}

.headRight-section .headRight-sub h3{
	padding-top: 18px;
	text-align: center;
	display: inline-block;
	margin-left: 30px;
}

.headRight-section .headRight-sub .btn-exit{
	border:0px;
	margin-top: 18px;
	float: right;
	margin-right: 30px;
	color: #009EF7;
	font-size: 18px;
	background: rgb(0, 119, 255);
	cursor: pointer;
}